@{
    Layout = null;
}
@model WebApplication9.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Product</title>
</head>
<body>
    <h3>Product Information</h3>
    @using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
    {
    <table>
        <tr>
            <td>Id</td>
            <td>
                @Html.DisplayFor(model => model.Id)
                @Html.HiddenFor(model => model.Id)
            </td>
        </tr>
        <tr>
            <td>id</td>
            <td>@Html.TextBoxFor(model => model.id)</td>
        </tr>
        <tr>
            <td>Userid</td>
            <td>@Html.TextBoxFor(model => model.userid)</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Html.TextBoxFor(model => model.title)</td>
        </tr>
        <tr>
            <td>Completed</td>
            <td>@Html.TextBoxFor(model => model.completed)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
    }
</body>
</html>