@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h3>Employee Data</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Title</th>
            <th>Completed</th>

        </tr>
        @foreach (var employee in ViewData.Model)
        {
        <tr>
            <td>@employee.id</td>
            <td>@employee.userid</td>
            <td>@employee.title</td>
            <td>@employee.completed</td>
            <td align="center">
                <a href="@Url.Action(" Edit", "UserId" , new { id=employee.userid })">Edit</a>
            </td>
        </tr>
        }
    </table>


</body>
</html>